.quantity {
  // margin-top: 15px;
  margin-bottom: 15px;
  display: grid;
  width: 150px;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  background-color: transparent;
  border-radius: 10px;
  // color: var(--white);
  align-items: center;
  .quantity__input {
    margin-top: 15px;
    font-size: 30px;
  }
  .quantity__btn {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    padding: 1rem 0;
    font-size: 25px;
    width: 2rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
