.search {
  margin: 5px 0px;
  position: relative;
  flex: 1;

  .icon {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
  }

  input {
    display: block;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0.3rem;
    padding-left: 3rem;
    width: 100%;
    margin: 1rem auto;
    border: 1px solid #777;
    border-radius: 4px;
    outline: none;
  }
}

@media only screen and (max-width: 699px) {
  .search {
    input {
      width: 350px;
    }
  }
}
