/** @format */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Nunito+Sans:ital,wght@0,200;0,300;0,600;0,700;1,300;1,400&family=Poppins:wght@100;200;300;400;500;600;700&display=swap'); /*  css variables */
:root {
	--font-family: 'Poppins', sans-serif;

	--card-bg-01: #fdefe6;
	--card-bg-02: #d6e5fb;
	--dark-blue: #0a1930;
	--light-blue: #1f93ff;

	--color-white: #fff;
	--color-dark: #333;

	--color-grey: #eee;
	--box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

	--color-purple: #9d0191;
	--color-orange: #ff7722;

	--color-primary: #007bff;
	--color-success: #28a745;
	--color-danger: orangered;

	--color-yellow: #eff309;
	--card-bg-03: #ceebe9;
	--white: #fff;
	--black: #222;
	--green: #6cbe02;
	--grey1: #f0f0f0;
	--grey2: #e9d7d3;
	--card-bg-04: #e2f2b2;
	--primary-color: #0a1d37;
	--green-color: #6cbe02;
	--red-color: #f90716;
	--hero-bg: #d6e5fb;
	--small-text-color: #999;
	--heading-text-color: #0a1d37;

	--clr-primary-1: hsl(22, 28%, 21%);
	--clr-primary-2: hsl(22, 28%, 29%);
	--clr-primary-3: hsl(22, 28%, 37%);
	--clr-primary-4: hsl(22, 28%, 45%);
	/* primary/main color */
	--clr-primary-5: hsl(22, 31%, 52%);
	/* lighter shades of primary color */
	--clr-primary-6: hsl(22, 31%, 60%);
	--clr-primary-7: hsl(22, 31%, 67%);
	--clr-primary-8: hsl(20, 31%, 74%);
	--clr-primary-9: hsl(22, 31%, 81%);
	--clr-primary-10: hsl(22, 31%, 88%);
	/* darkest grey - used for headings */
	--clr-grey-1: hsl(209, 61%, 16%);
	--clr-grey-2: hsl(211, 39%, 23%);
	--clr-grey-3: hsl(209, 34%, 30%);
	--clr-grey-4: hsl(209, 28%, 39%);
	/* grey used for paragraphs */
	--clr-grey-5: hsl(210, 22%, 49%);
	--clr-grey-6: hsl(209, 23%, 60%);
	--clr-grey-7: hsl(211, 27%, 70%);
	--clr-grey-8: hsl(210, 31%, 80%);
	--clr-grey-9: hsl(212, 33%, 89%);
	--clr-grey-10: hsl(210, 36%, 96%);
	--clr-red-dark: hsl(360, 67%, 44%);
	--clr-red-light: hsl(360, 71%, 66%);
	--clr-green-dark: hsl(125, 67%, 44%);
	--clr-green-light: hsl(125, 71%, 66%);

	--transition: all 0.3s linear;
	--spacing: 0.1rem;
	--radius: 0.25rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	--max-width: 1170px;
	--fixed-width: 620px;
}

/* reset browser default */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--font-family);
	box-sizing: border-box;
	overflow-x: hidden !important;
	max-width: 100% !important;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	font-weight: 500;
	line-height: 1.2;
	color: var(--color-dark);
	margin-bottom: 1rem;
	margin: 0;
}

h1 {
	font-size: 4rem;
}
h2 {
	font-size: 3rem;
}
h3 {
	font-size: 2.5rem;
}
h4 {
	font-size: 2rem;
}

p {
	color: var(--small-text-color);
	font-size: 1rem;
	font-weight: 300;
	margin: 0;
	padding: 0;
	line-height: 1.3;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: unset;
}

a:hover {
	color: unset;
}

/* .section-p1 {
	padding: 40px 80px;
}

.section-m1 {
	margin: 40px 0px;
} */

/* img {
	width: 100%;
} */

/* Card */
.--card {
	border: 1px solid transparent;
	border-radius: 5px;
	box-shadow: var(--box-shadow);
	overflow: hidden;
}

section {
	width: 100%;
	padding: 4rem 0;
}

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
}

.--btn {
	font-size: 1.2rem;
	font-weight: 400;
	padding: 6px 8px;
	margin: 0 5px 0 0;
	border: 1px solid transparent;
	border-radius: 3px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;
}

.--btn:hover {
	transform: translateY(-2px);
}

.--btn-lg {
	padding: 8px 10px;
}

.--btn-block {
	width: 100%;
}

.--btn-primary {
	color: #fff;
	background: #007bff;
}
.--btn-secondary {
	color: #fff;
	border: 1px solid #fff;
	background: transparent;
}
.--btn-danger {
	color: #fff;
	background: orangered;
}

.--btn-success {
	color: #fff;
	background: #28a745;
}

/* Center All */
.--center-all {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin: auto;
	text-align: center;
}

/* Flex */
.--flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.--flex-start {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.--flex-end {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.--flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.--dir-column {
	flex-direction: column;
}

.--flex-dir-column {
	display: flex;
}

.--align-center {
	display: flex;
	align-items: center;
}

.--100vh {
	height: 100vh;
}

.--mh-100vh {
	min-height: 100vh;
}

/* Margin */
.--m {
	margin: 1rem;
}
.--ml {
	margin-left: 1rem;
}
.--mr {
	margin-right: 1rem;
}

.--mb {
	margin-bottom: 1rem;
}

.--my {
	margin: 1rem 0;
}
.--mx {
	margin: 0 1rem;
}

.--m2 {
	margin: 2rem;
}

.--ml2 {
	margin-left: 2rem;
}
.--mr2 {
	margin-right: 2rem;
}

.--mb2 {
	margin-bottom: 2rem;
}

.--my2 {
	margin: 2rem 0;
}

.--mx2 {
	margin: 0 2rem;
}

/* Padding */
.--p {
	padding: 1rem;
}
.--p2 {
	padding: 2rem;
}
.--py {
	padding: 1rem 0;
}
.--py2 {
	padding: 2rem 0;
}
.--px {
	padding: 0 1rem;
}
.--px2 {
	padding: 0 2rem;
}

.--block {
	display: block;
}
.--inline-block {
	display: inline-block;
}

.--width-100 {
	width: 100%;
}

.--width-500px {
	width: 500px;
}

/* section {
	padding: 60px 0px;
}  */

@media only screen and (max-width: 599px) {
	section {
		padding: 40px 0px;
	}
}
