.product__item {
  max-width: 290px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  position: relative;
  margin: 20px 0;
  transition: 0.2s ease;

  :hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  }

  .product__img {
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
  }

  .product__info {
    text-align: start;
    padding: 10px 0;

    span {
      color: #606067;
      font-size: 12px;
    }
    h5 {
      padding-top: 7px;
      color: #1a1a1a;
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
    }
    i {
      font-size: 12px;
      color: rgb(243, 181, 25);
    }
    h4 {
      padding-top: 7px;
      font-size: 15px;
      font-weight: 700;
      color: #10a19d;
    }
  }

  .cart {
    font-size: 1.2rem;
    // display: flex;
    margin: 0 auto;
    line-height: 20px;
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 50px;
    background-color: #eff5f5;
    font-weight: 500;
    position: absolute;
    bottom: 20px;
    right: 10px;
    color: #10a19d;
    border: 1px solid #cce7d0;
  }

  .heart {
    font-size: 1.2rem;
    // display: flex;
    margin: 0 auto;
    line-height: 20px;
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 50px;
    background-color: #eff5f5;
    font-weight: 500;
    position: absolute;
    bottom: 70px;
    right: 10px;
    color: #eb455f;
    border: 1px solid #cce7d0;
  }
}
