.table {
  padding: 5px;
  overflow-x: auto;

  h2 {
    font-weight: 600;
    margin-top: 10px;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
  }
  p {
    font-weight: 600;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
  }

  p b {
    color: var(--primary-color);
  }

  table {
    font-size: 1.1rem;

    thead {
      border-top: 2px solid var(--light-blue);
      border-bottom: 2px solid var(--light-blue);
    }

    th {
      border: 1px solid #eee;
    }

    th,
    td {
      vertical-align: top;
      text-align: left;
      padding: 8px;
      &.icons {
        > * {
          margin-right: 5px;
          cursor: pointer;
        }
      }
    }

    tr {
      border-bottom: 1px solid #ccc;
    }

    tr > td {
      font-size: 1.1rem;
    }

    tr:nth-child(even) {
      background-color: #eee;
    }
  }
  .summary {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: start;

    .card {
      padding: 1rem;
      .text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
          color: var(--color-danger);
        }
      }
      button {
        margin-top: 5px;
      }
    }
  }
}
.count {
  display: flex;
  align-items: center;
  button {
    border: 1px solid var(--darkblue);
  }
  & > * {
    margin-right: 1rem;
  }
}
