.header {
  width: 100%;
  height: 90px;
  background-color: #d9d7f1;
  line-height: 70px;

  .nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    align-items: center;
    column-gap: 10px;

    img {
      width: 4rem;
      height: 4rem;
      display: flex;
      align-items: center;
      margin-bottom: 5px;
    }
    span {
      font-size: 1.8rem;
      font-weight: 700;
      font-family: 'Cormorant Garamond', serif;
      color: #425f57;
    }
  }

  .menu {
    display: flex;
    // align-items: center;
    column-gap: 2.7rem;
    font-size: 1.2rem;
    align-items: flex-end;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 0;

    .nav__item {
      padding: 0 5px;
      position: relative;
      a {
        color: var(--primary-color);
        font-weight: 500;
        transition: 0.3s ease;
        cursor: pointer;
      }
      a:hover,
      a.active {
        color: #439a97;
        font-weight: 700;
      }

      a.active::after {
        content: '';
        width: 30%;
        height: 2px;
        background-color: #439a97;
        position: absolute;
        bottom: -4px;
        left: 20px;
      }
    }
  }

  .nav__icons {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;

    span {
      i {
        font-size: 1.4rem;
      }
      img {
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
    }

    .cart__icon,
    .fav__icon {
      position: relative;

      .badge {
        position: absolute;
        top: 22%;
        right: -5%;
        width: 15px;
        height: 15px;
        content: '';
        background-color: var(--primary-color);
        color: #fff;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.7rem;
        font-weight: 600;
        z-index: 10;
      }
    }

    .cart__icon,
    .fav__icon:hover {
      cursor: pointer;
    }
  }

  .mobile__menu {
    // display: none;
    // align-items: center;
    // font-size: 1.3rem;
    cursor: pointer;
    color: var(--primary-color);
  }

  .nav__active {
    font-weight: 700 !important;
  }
}

.sticky__header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 3px 3px 8px -3px #ddd;
  background-color: #fff;
}

@media only screen and (max-width: 477px) {
  .header {
    padding: 10px 30px;
  }
}

@media only screen and (max-width: 799px) {
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.53);
    z-index: 9999;
    display: none;
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    padding-right: 10px;
    background-color: #fff;
    z-index: 99999;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .nav__icons {
      display: flex;
      margin-left: 0.5rem;
    }

    .close {
      position: absolute;
      display: initial;
      cursor: pointer;
      top: 0px;
      left: 10px;
      color: #ff1818;
      font-size: 20px;
    }
  }

  .active__menu {
    display: block;
  }

  .mobile__menu {
    cursor: pointer;

    // display: inline-block;
    span {
      i {
        color: #404258;
        font-size: 1.1rem !important;
      }
      i:hover {
        color: #ff4b5c;
        font-weight: 700;
      }
    }
  }

  .logo {
    img {
      width: 1rem;
      height: 1rem;
    }
    h1 {
      font-size: 1rem;
    }
  }
  .fav__icon,
  .cart__icon {
    i {
      font-size: 1.2rem !important;
    }
  }

  .nav__icons {
    span {
      img {
        width: 1.4rem;
        height: 1.4rem;
      }
    }
  }

  .nav__wrapper > .nav__icons {
    display: none;
  }

  .header {
    width: 100%;
    height: 60px;
    line-height: 60px;
  }
}

@media only screen and (min-width: 992px) {
  .mobile__menu {
    display: none;
  }
  .close {
    display: none;
  }
  .menu {
    .nav__icons {
      display: none;
    }
  }
}
