.product {
  .card {
    width: 100%;
    max-width: 700px;
    padding: 1rem;

    form {
      label {
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: capitalize;
      }
      input[type='text'],
      input[type='number'],
      input[type='file'],
      input[type='email'],
      select,
      textarea,
      input[type='password'] {
        // display: block;
        font-size: 1.2rem;
        font-weight: 300;
        padding: 0.6rem;
        margin: 0.5rem auto;
        width: 100%;
        border: 1px solid #777;
        border-radius: 3px;
        outline: none;
      }

      input[placeholder='Product name'],
      input[placeholder='Product brand'],
      select {
        text-transform: capitalize;
      }

      .progress {
        background-color: #aaa;
        border: 1px solid transparent;
        border-radius: 10px;
        .progress__bar {
          background-color: var(--light-blue);
          border: 1px solid transparent;
          border-radius: 10px;
          color: var(--color-white);
          font-size: 1.2rem;
          font-weight: 500;
          padding: 0 1rem;
        }
      }

      .group {
        border: 1px solid var(--dark-blue);
        padding: 5px;
      }
    }
  }
}
