.product__container {
  display: flex;
  // justify-content: space-between;
  margin-top: 30px;
  padding: 15px 15px;
  padding-top: 20px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 799px) {
  .product__container {
    justify-content: center;
  }
}
