.pagination {
  padding: 40px 80px;
  // position: relative;
  margin-bottom: 30px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;

  a {
    margin-left: 5px;
    // position: absolute;
    background-color: #227c70;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 4px;
  }
}
